<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277486575368-ikpj4h4v75n19cc5g6ojinorq9pkldoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277486575368-ikpj4h4v75n19cc5g6ojinorq9pkldoc</string>
	<key>API_KEY</key>
	<string>AIzaSyBUPfG23Wo7Q-0qA_o2M0RLKa3Dvywi_BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>277486575368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirock.translationAppProvider</string>
	<key>PROJECT_ID</key>
	<string>traslation-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>traslation-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277486575368:ios:258c2b483cd55dcaf3d6bd</string>
	<key>DATABASE_URL</key>
	<string>https://traslation-plus.firebaseio.com</string>
</dict>
</plist>